@import "./../../../assets/responsive.scss";
.filter-wrapper{
  height: auto;
      background-color: white;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;  
   
  }
  .grid-item {  
    padding: 10px;
    font-size: 30px;
    text-align: center;
  }

  .button {
      background-color: rgba(150, 226, 18, 0.2);
      padding:10px;   
      border: 1px solid rgba(150, 226, 18, 0.2);
      color:black;
      border-radius: 5px;
      width: auto;
  } 
  #year .active{
      outline: #3e8e41  auto 1px;
      border: 1px solid #3e8e41;
    }

    #launch .active{
      outline: #993939  auto 1px;
      border: 1px solid #993939;
    }
    #land .active{
      outline: #4d2cdf  auto 1px;
      border: 1px solid #4d2cdf;
    }
   
 
 