<div>
    <h2>Filters</h2>
    <section>
        <span>Launch Year</span>
        <span class="separator"></span>
        <div class="grid-container">
            <div class="grid-item" *ngFor="let year of launchYears">
                <button class="button" [value]="year" (click)="filterAsPerLaunchYear($event)">{{year}}</button>
            </div>
        </div>
    </section>
    <section>
        <span>Successful Launch</span>
        <span class="separator"></span>
        <div class="grid-container">
            <div class="grid-item">
                <button class="button" (click)="filterAsPerSuccessLaunch(true)">True</button>
            </div>
            <div class="grid-item">
                <button class="button" (click)="filterAsPerSuccessLaunch(false)">False</button>
            </div>
        </div>
    </section>
    <section>
        <span>Successful Landing</span>
        <span class="separator"></span>
        <div class="grid-container">
            <div class="grid-item">
                <button class="button" (click)="filterAsPerLandLaunch(true)">year</button>
            </div>
            <div class="grid-item">
                <button class="button" (click)="filterAsPerLandLaunch(false)">False</button>
            </div>
        </div>
    </section>
</div>